.element__heart_active {
    display: flex;
    background: center center no-repeat url(../../../../images/heart-black.svg);
    max-width: 22px;
    width: 100%;
    height: 19px;
    border: 0;
    margin: 22px 20px 3px 0;
    padding: 0;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .element__heart_active {
        margin: 22px 20px 3px 0;
    }
}
