.element__heart-number {
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    border: 0;
    margin: 0 22px 22px 6px;
    padding: 0;
}
/* 
@media screen and (max-width: 767px) {
    .element__heart-number {
        margin: 25px 20px 31px auto;
    }
} */
